head {
  background-color: black;
  height: 0px;
}

.heading img {
  height: 75%;
  position: relative;
  z-index: 4;
  display: block;
  margin-top: -30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.heading {
  background-color: black;
  height: 300px;
  position: relative;
}

.heading h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: center;
  padding-top: 10%;
  font-size: 40px;
  font-weight: 400;
  font-stretched: ultra-condensed;
}

.heading p {
  font-family: courier new;
  color: white;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
  padding-bottom: 30%;
}

.heading a:link {
  color: white;
  text-decoration: none;
}

.heading a:visited {
  color: white;
  text-decoration: none;
}

.heading a:active {
  color: white;
  text-decoration: none;
}

hr {
  display: block;
  border-width: 5px;
  color: gray;
  border-style: solid;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  hr {
    display: none;
  }
}

.row1Container {
  float: left;
  width: 100%;
}

.columnLeft {
  float: left;
  width: 50%;
  position: relative;
}

.columnRight {
  display: inline-block;
  float: left;
  width: 50%;
  background-color: black;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.p1 {
  font-family: courier new;
  background-color: black;
  color: white;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
  margin-left: -20%;
  margin-right: 5%;
}
.columnLeft h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  padding-top: 40%;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
}
.columnLeft p {
  font-family: courier new;
  background-color: white;
  color: black;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
}

.columnRight h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: left;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
  margin-left: 20%;
}

.columnRight p {
  font-family: courier new;
  background-color: black;
  color: white;
  text-align: left;
  margin-left: 20%;
  font-size: 17px;
  margin-right: 5%;
}

@media screen and (max-width: 1000px) {
  .columnLeft {
    width: 100%;
    position:relative;
    bottom: 2%;
  }
}

@media screen and (min-width: 1500px) {
  .columnLeft {
  position: relative;
  top: -3%;
  }
  
}


@media screen and (max-width: 1000px) {
  .columnLeft h3 {
    width: 100%;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .columnLeft p {
    width: 100%;
    margin-right: 0px;
  }
}


@media screen and (max-width: 1000px) {
  .columnRight {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .columnRight p {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .p1 {
    margin-left: -5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .columnRight h3 {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.columnLeft a:link {
  color: black;
  text-decoration: none;
}

.columnLeft a:visited {
  color: black;
  text-decoration: none;
}

.columnLeft a:active {
  color: black;
  text-decoration: none;
}

/*Second Section*/

.row2Container {
  float: left;
  width: 100%;
}

.columnLeftTwo {
  display: inline-block;
  float: right;
  width: 50%;
  background-color: black;
}

.columnRightTwo {
  float: right;
  width: 50%;
}


.columnRightTwo h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding-top: 70%;
  font-stretched: ultra-condensed;
}
.columnRightTwo p {
  font-family: courier new;
  background-color: white;
  color: black;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
}
.columnLeftTwo p {
  font-family: courier new;
  background-color: black;
  padding-left: 5%;
  padding-right: 20%;
  color: white;
  text-align: left;
  font-size: 17px;
}

@media screen and (max-width: 1000px){
    .columnLeftTwo {
        width: 100%;
}
}


@media screen and (max-width: 600px) {
  .columnRightTwo {
    width: 100%;
    position: relative;
    bottom: 3%;
  }
}

.columnRightTwo a:link {
  color: black;
  text-decoration: none;
}

.columnRightTwo a:visited {
  color: black;
  text-decoration: none;
}

.columnRightTwo a:active {
  color: black;
  text-decoration: none;
}

.material-icons {
  color: white;
}

.columnLeftTwo h3 {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
  padding-left: 5%;
  padding-right: 20%;
}

/*Third section*/
.columnThree {
  float: left;
   border: 0;
   width: 100%;
  align-items: center;
}

.columnThree h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding-top: 5%;
  font-stretched: ultra-condensed;
}

.columnThree p {
  font-family: courier new;
  color: black;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
}

.columnThree a:link {
  color: black;
  text-decoration: none;
}

.columnThree a:visited {
  color: black;
  text-decoration: none;
}

.columnThree a:active {
  color: black;
  text-decoration: none;
}

.cv img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid gray;
  width: 75%;
  height: 75%;
}


/*Section 4*/

.row4Container {
  float: left;
  width: 100%;
}

.columnLeftFour {
  float: left;
  width: 50%;
  display: inline-block;
  background-color: black;
}

.columnRightFour {
  float: left;
  width: 50%;
  background-color: white;
}

@media screen and (max-width: 1000px){
    .columnLeftFour {
        width: 100%;
        padding-top: 15%;
        padding-bottom: 10%;
}
}

@media screen and (max-width: 1000px) {
  .columnRightFour {
    width: 100%;
  }
}

.columnRightFour h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  padding-top: 35%;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
}

.columnRightFour p {
  font-family: courier new;
  background-color: white;
  color: black;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
  padding-bottom: 15%;
}

.columnLeftFour p {
   font-family: courier new;
  background-color: black;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
  color: white;
  text-align: left;
  font-size: 17px;
}

.columnLeftFour h3 {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
}

.columnRightFour a:link {
   color: black;
  text-decoration: none;
}

.columnRightFour a:visited {
  color: black;
  text-decoration: none;
}

.columnRightFour a:active {
  color: black;
  text-decoration: none;
}

.columnLeftFour a:link {
   color: white;
  text-decoration: none;
}

.columnLeftFour a:visited {
  color: white;
  text-decoration: none;
}

.columnLeftFour a:active {
  color: white;
  text-decoration: none;
}


footer {
  background-color: black;
  display: inline-text;
  text-align: center;
  width: 100%;
}

.foot h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-top: 10%;
  font-stretched: ultra-condensed;
}

.foot p {
  font-family: courier new;
  color: white;
  font-stretched: expanded;
  font-size: 18px;
  padding-bottom: 10%;
}

.foot a:link {
  color: white;
  text-decoration: none;
}

.foot a:visited {
  color: white;
  text-decoration: none;
}

.foot a:active {
  color: white;
  text-decoration: none;
}
