head {
  background-color: black;
  height: 0px;
}

.heading img {
  height: 75%;
  position: relative;
  z-index: 2;
  display: block;
  margin-top: -85px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.heading {
  background-color: black;
  height: 300px;
  position: relative;
}

.heading h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  font-weight: 400;
  font-stretched: ultra-condensed;
}

.heading p {
  font-family: courier new;
  color: white;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
  padding-bottom: 100px;
}

.heading a:link {
  color: white;
  text-decoration: none;
}

.heading a:visited {
  color: white;
  text-decoration: none;
}

.heading a:active {
  color: white;
  text-decoration: none;
}

hr {
  display: block;
  border-width: 5px;
  color: gray;
  border-style: solid;
  margin-top: 0px;
  margin-bottom: 0px;
}
.columnLeft {
  float: left;
  width: 50%;
  height: 875px;
  position: relative;
}

.columnRight {
  float: right;
  width: 50%;
  background-color: black;
  height: 875px;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.p1 {
  font-family: courier new;
  background-color: black;
  color: white;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
  margin-left: -120px;
  margin-right: 40px;
}
.columnLeft h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  padding-top: 100px;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
}
.columnLeft p {
  font-family: courier new;
  background-color: white;
  color: black;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
}

.columnRight h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: left;
  font-size: 28px;
  font-weight: 400;
  margin-left: 120px;
  font-stretched: ultra-condensed;
}

.columnRight p {
  font-family: courier new;
  background-color: black;
  color: white;
  text-align: left;
  margin-left: 120px;
  font-size: 17px;
  margin-right: 40px;
}

.columnLeft a:link {
  color: black;
  text-decoration: none;
}

.columnLeft a:visited {
  color: black;
  text-decoration: none;
}

.columnLeft a:active {
  color: black;
  text-decoration: none;
}

/*Second Section*/
.columnRightTwo {
  float: right;
  width: 50%;
  height: 775px;
}

.columnLeftTwo {
  float: left;
  width: 50%;
  height: 775px;
  background-color: black;
}

.columnRightTwo h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  padding-top: 100px;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
}
.columnRightTwo p {
  font-family: courier new;
  background-color: white;
  color: black;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
}
.columnLeftTwo p {
  font-family: courier new;
  background-color: black;
  padding-left: 40px;
  color: white;
  text-align: left;
  font-size: 17px;
}

.columnRightTwo a:link {
  color: black;
  text-decoration: none;
}

.columnRightTwo a:visited {
  color: black;
  text-decoration: none;
}

.columnRightTwo a:active {
  color: black;
  text-decoration: none;
}

.material-icons {
  color: white;
}

.columnLeftTwo h3 {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
  padding-left: 40px;
  padding-right: 40px;
}

/*Third section*/
.columnThree {
   border: 0;
   height: 200px;
   left: 40px;
   right: 40px;
   width: 100%;
   align: center;
}

.columnThree h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  padding-top: 40px;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
}

.columnThree p {
  font-family: courier new;
  color: black;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
  padding-bottom: 0px;
}

.columnThree a:link {
  color: black;
  text-decoration: none;
}

.columnThree a:visited {
  color: black;
  text-decoration: none;
}

.columnThree a:active {
  color: black;
  text-decoration: none;
}

/*Section 4*/
.columnRightFour {
  float: right;
  width: 50%;
  height: 300px;
}

.columnLeftFour {
  float: left;
  width: 50%;
  height: 300px;
  background-color: black;
}

.columnRightFour h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  text-align: center;
  padding-top: 100px;
  font-size: 28px;
  font-weight: 400;
  font-stretched: ultra-condensed;
}

.columnRightFour p {
  font-family: courier new;
  background-color: white;
  color: black;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
}

.columnLeftFour p {
   font-family: courier new;
  background-color: black;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  text-align: left;
  font-size: 17px;
}

.columnRightFour a:link {
   color: black;
  text-decoration: none;
}

.columnRightFour a:visited {
  color: black;
  text-decoration: none;
}

.columnRightFour a:active {
  color: black;
  text-decoration: none;
}

.foot {
  background-color: black;
  height: 300px;
}

.foot h3 {
  ont-family: "Roboto Condensed", sans-serif;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
  font-weight: 400;
  font-stretched: ultra-condensed
}

.foot p {
  font-family: courier new;
  color: white;
  text-align: center;
  font-stretched: expanded;
  font-size: 18px;
  padding-bottom: 100px;
}

.foot a:link {
  color: white;
  text-decoration: none;
}

.foot a:visited {
  color: white;
  text-decoration: none;
}

.foot a:active {
  color: white;
  text-decoration: none;
}

.cv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cv hr {
  display: block;
  border-width: 5px;
  color: gray;
  border-style: solid;
  padding-top: -10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
